data/
output*/
resources/
reports/
env/
work/
bin/HRC-1000G-check/
.nextflow/
.nextflow.log*
nextflow.out
nextflow_wrapper.job
.Rproj.user
.Rhistory
*.RData
*.Rproj
*.code-workspace
*.pdf
*.out
*.log
*.html
