/**** Nextflow config file ****/

// as of version 22.08.0-edge, conda needs to be explicitly enabled
conda.enabled = true

/* conda: increase create timeout to prevent error 
 * (see https://github.com/nextflow-io/nextflow/issues/1081)
 */
conda.createTimeout = '1 h'


// submit not more than this many jobs to slurm queue
executor.$slurm.queueSize = 100


// process configuration settings
process {

    executor = "slurm"
    queue = "medium"

    clusterOptions = "--account=ag_ukihg_forstner"

    cpus = 2
    memory = { 4.GB * task.attempt }
    time = { 15.min * task.attempt }

    stageOutMode = "copy"

    // retry if error due to resource limits
    errorStrategy = { task.exitStatus in [140, 143, 137] ? 'retry' : 'terminate' }
    maxRetries = 2

    // only create conda env from yml file if not already present in project dir
    conda = {new File("$baseDir/env").exists()? "$baseDir/env" : "environment.yml"}


    withName: run_phasing {
        cpus = 8
    }

   withName: run_imputation {
        memory = { 64.GB * task.attempt }
        cpus = 32
        time = { 5.h * task.attempt }
    }
  
  withName: filter_imputed {
        time = { 1.h * task.attempt }
  }

  withName: extract_variants {
      memory = 32.GB
      time = { 1.h * task.attempt }
  }
}

